body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 48px;

    
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    padding-bottom: 20px;
    
}
.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    list-style-type: none;
    padding-right: 20vw;
     
}
a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-right: 20vw;
    padding-left: 20vw;
}
.header-copy{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-top: 48px;
    padding-bottom: 48px;
}
.secondary-text{
    color:#E5E7EB;
    font-size: 18px;
    padding-bottom: 10px;
}
.header-img{
    width: 25vw;
    height: 20vh;
    background-color:darkgray ;
    
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-top: 48px;
    padding-bottom: 48px;
    
}
.info-text{
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    padding: 16px;
    font-weight: 900;

}
.information-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
   
    
}
.info-box{
    background-color: #F9FAF8;
    height: 100px;
    width: 100px;
    gap: 24px;
    border: 6px solid #3992F6;
    border-radius: 10%;
    
}
  
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.caption{
    display: flex;
    justify-content: center;  
    align-items: center;
    padding-left: 25px;
    
}
.quote-container{
    background-color: #E5E7EB ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    padding-right: 20vw;
    padding-left: 20vw;
}
.name{
   display: flex;  
   font-size: 18px;
   font-weight: 900;
   padding-left: 45vw;
   padding-bottom: 28px;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
 
}
.action-container{
    display: flex;
    background-color: #3992F6;
    height: 200px;
    width: 600px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.action-copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;

    
}
.copyright{
    color: #E5E7EB;
    font-size: 18px;
}
button{
    background-color: #3992F6;
    color: #E5E7EB;
    border: none;
    border-radius: 10%;
}
.action-btn{
    border: 1px solid #F9FAF8;
    border-radius: 10%;
}