body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 30vh;
    padding-bottom: 48px;
    
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
    padding-bottom: 20px;
    
}
.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    list-style-type: none;
    padding-right: 20vw;
     
}
a{
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}
.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-right: 20vw;
    padding-left: 20vw;
}
.header-copy{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 10px;
}
.secondary-text{
    color:#E5E7EB;
    font-size: 18px;
    padding-bottom: 10px;
}
.header-img{
    width: 25vw;
    height: 20vh;
    background-color:darkgray ;
    
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}
.information-content{
    display: flex;
    justify-content: space-between;
    
}
.info-box{
    background-color: gray;
    height: 100px;
    width: 100px;
    gap: 24px;
}
/* .information-container{
    display: flex;
    justify-content: space-between;
}     */
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    
}
.caption{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container{
    background-color: #E5E7EB ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.quote{
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name{
   padding-left: 5vw;  
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.action-container{
    display: flex;
    background-color: #3992F6;
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
}
.action-copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: px;
    
}
.copyright{
    color: #E5E7EB;
}
button{
    background-color: #3992F6;
    color: #E5E7EB;
    border: none;
    border-radius: 10%;
}
